$mainColor: #ff2a2a;

body{
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

// ヘッダー
#header{
  display: flex;
  height: 100px;
  .header_left{
    height: 73px;
    width: 100%;
    padding: 40px 0 0 50px;
    .open_logo, .back_logo{
      height: 100%;
      display: block;
      width: 100px;
      img{
        width: 100%;
      }
    }
    .back_logo{
      display: none;
      position: fixed;
      z-index: 999;
    }
  }
  .header_right{
    width: 100%;
    #hunburger_menu{
      width: 100px;
      height: 100px;
      background: $mainColor;
      position: fixed;
      right: 0;
      top: 0;
      padding: 36px 24px;
      transition: .5s;
      z-index: 99;
      cursor: pointer;
      &:hover{
        opacity: 0.8;
        transition: .5s;
      }
      span:nth-child(1){
        position: absolute;
        width: 50px;
        height: 2px;
        background: white;
        transition: .5s;
      }
      span:nth-child(2){
        position: absolute;
        width: 50px;
        height: 2px;
        background: white;
        top: 50px;
        transition: .5s;
      }
      span:nth-child(3){
        position: absolute;
        width: 50px;
        height: 2px;
        background: white;
        top: 65px;
        transition: .5s;
      }
    }
  }
  .mask_menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $mainColor;
    opacity: 0;
    z-index: 4;
    pointer-events: none;
    transition: .5s;
    .mask_nav_menu{
      display: flex;
      flex-direction: column;
      color: white;
      width: 250px;
      margin: 80px auto 0 auto;
      a{
        display: inline-block;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }
      a:nth-child(3){
        margin-bottom: 40px;
      }
      a:nth-child(4){
        border: 1px solid white;
        padding: 17px 0;
        position: relative;
        transition: .5s;
        &:hover{
          background-color: white;
          color: $mainColor;
          transition: .5s;
        }
        &::before{
          content: "";
          position: absolute;
          width: 100%;
          background: white;
          top: 57px;
          height: 1px;
          left: 5px;
        }
        &::after{
          content: "";
          position: absolute;
          background: white;
          width: 1px;
          height: 100%;
          right: -6px;
          bottom: -5.5px;
        }
      }
    }
  }
}

.open span:nth-child(1){
  transform: translateY(15px) rotate(45deg) !important;
  transition: .5s !important;
}
.open span:nth-child(2){
  opacity: 0 !important;
  transition: .5s !important;
}
.open span:nth-child(3){
  transform: translateY(-13px) rotate(135deg) !important;
  transition: .5s !important;
}

.open .mask_menu{
  opacity: 1 !important;
  transition: .5s;
  pointer-events: visible !important;
}

.open .open_logo{
  display: none !important;
}
.open .back_logo{
  display: block !important;
}

// メインビジュアル
.main_visual{
  display: flex;
  padding-left: 150px;
  height: 720px;
  margin-bottom: 90px;
  .main_visual_left{
    position: absolute;
    margin-top: 288px;
    z-index: 3;
    h1{
      font-size: 2.875rem;
      margin-bottom: 30px;
      font-weight: bold;
      text-shadow: 2px 4px 5px white;
    }
    a{
      text-align: center;
      text-decoration: none;
      background: #FF0033;
      color: white;
      display: block;
      width: 435px;
      padding: 22.3px 35px;
      border-radius: 7px;
      font-size: 1.5rem;
      box-shadow: 0 7px 1px #9a0413;
      position: relative;
      transition: .5s;
      &::after{
        content: "";
        width: 16px;
        height: 16px;
        border-top: solid 3px #fff;
        border-right: solid 3px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 29px;
        right: 30px;
      }
      &:hover{
        transform: scale(1.05);
        opacity: 0.9;
        transition: .5s;
      }
    }
  }
  .main_visual_right{
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    z-index: 2;
    margin-left: auto;
    width: 75%;
    height: inherit;
    top: 0px;
    img{
      width: 100%;
      height: auto;
      position: absolute;
      opacity: 0;
      transition: all 3s ease-in-out;
      object-fit: contain;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0; 
      top: 0; 
      right: 0; 
      bottom: 69px;
      box-shadow: inset 0px 0px 15px 15px #fff;
    }
  }
}

// BBBが選ばれる理由
.reason{
  position: relative;
  margin-bottom: 120px;
  &::after{
    content: "";
    position: absolute;
    width: 89px;
    height: 2px;
    background: black;
    top: 51px;
    left: 47%;
  }
  h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
  }
  .reason_content{
    background: $mainColor;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    height: 600px;
    .reason_content_left{
      background: white;
      width: 50%;
      height: 200px;
      border-radius: 0 24px 24px 0;
      padding: 70px 100px;
      display: flex;
      justify-content: center;
      height: 213px;
      opacity: 0;
      transform: translateX(-400px);
      transition: opacity 1s, transform 1s;
      .content_left_left{
        width: 87px;
        height: 60px;
        margin-right: 30px;
        img{
          width: 100%;
        }
      }
      .content_left_right{
        padding-top: 5px;
        h1{
          color: $mainColor;
          margin: 0;
        }
      }
    }
    .reason_content_right{
      background: white;
      width: 50%;
      margin-left: auto;
      display: flex;
      padding: 71px 146px 70px 158px;
      justify-content: center;
      height: 213px;
      border-radius: 24px 0 0 24px;
      opacity: 0;
      transform: translateX(400px);
      transition: opacity 1s, transform 1s;
      .content_right_left{
        width: 51px;
        margin-right: 30px;
        height: 60px;
        img{
          width: 100%;
        }
      }
      .content_right_right{
        padding-top: 5px;
        h1{
          color: $mainColor;
          margin: 0;
        }
      }
    }
    .fadein-after{
      opacity: 1;
      transform: translate(0);
    }
  }
}

// 受験生の声
.student_voice{
  width: 860px;
  margin: 0 auto;
  margin-bottom: 40px;
  h1{
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 101px;
      height: 3px;
      background: black;
      top: 60px;
      left: 44%;
    }
  }
  .student_voice_part1, .student_voice_part2, .student_voice_part3{
    display: flex;
    opacity: 0;
    .student_info{
      width: 120px;
      margin-right: 26px;
      margin-bottom: 80px;
      img{
        background: lightgray;
        width: 100%;
        border-radius: 50%;
      }
      p{
        font-size: 0.75rem;
        text-align: center;
      }
    }
    .student_voice_content{
      width: 514px;
      height: 142px;
      background: #E9F1FB;
      border-radius: 30px;
      padding: 20px;
      line-height: 35px;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 60%;
        left: 0;
        margin-left: -30px;
        border: 9px solid transparent;
        border-right: 24px solid #e9f1fb;
      }
    }
  }
  .student_content_fedin{
    animation: balloon 0.7s ease-out 0s 1 forwards;
  }
  .student_voice_part2{
    flex-direction: row-reverse;
    .student_info{
      margin-right: 0;
      margin-left: 26px;
    }
    .student_voice_content::before{
      content: "";
      position: absolute;
      top: 60%;
      right: 0;
      left: auto;
      margin-right: -30px;
      border: 9px solid transparent;
      border-left: 24px solid #e9f1fb;
    }
  }
}

@keyframes balloon {
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

// スクールの概要
.school_summary{
  height: 920px;
  background: url('../image/bg.gif') repeat;
  animation: fall 10s infinite linear;
  padding: 60px 0 0 0;
  margin-bottom: 120px;
  overflow-x: auto;
  .wrapper{
    width: 860px;
    margin: 0 auto;
    margin-bottom: 40px;
    .school_title{
      font-weight: bold;
      font-size: 2.25rem;
      text-align: center;
      margin-bottom: 100px;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        width: 101px;
        height: 3px;
        background: black;
        top: 60px;
        left: 44%;
      }
    }
    .school_content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .school_content_part{
        background: white;
        width: 400px;
        height: 299px;
        border-radius: 15px;
        margin-bottom: 32px;
        padding: 25px;
        text-align: center;
        .school_introduction_title{
          margin-bottom: 15px;
          font-size: 1.75rem;
          font-weight: bold;
        }
        .school_introduction_subtitle{
          font-size: 1.125rem;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .school_introduction_leson{
          width: 72%;
          margin: 0 auto;
          p{
            padding: 4px;
            color: black;
            position: relative;
            margin-bottom: 11px;
            cursor: pointer;
            font-size: 0.85rem;

            border: 2px solid #000;
            border-radius: 0;
            background: #fff;
            -webkit-box-shadow: 4px 4px 0 #000;
            box-shadow: 4px 4px 0 #000;
            transition: .3s;
            &::after{
              content: "";
              width: 8px;
              height: 8px;
              border-top: solid 2px #fff;
              border-right: solid 2px #fff;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 8px;
              right: 13px;
            }
            
            &:hover{
              opacity: 0.8;
              box-shadow: -4px -4px 0 #000;
              transition: .3s;
            }
          }
        }
        .school_introduction_price, .school_introduction_teacher{
          display: flex;
          flex-direction: column;
          font-size: 0.875rem;
          strong{
            margin-bottom: 9px;
          }
          p{
            margin-bottom: 13px;
            border-bottom: 2px dotted black;
            padding-bottom: 5px;
            letter-spacing: 3px;
            text-align: left;
            span{
              width: 63%;
              display: inline-block;
            }
          }
        }
        .school_introduction_qa{
          display: flex;
          flex-direction: column;
          .qa_title{
            font-size: 1.225rem;
            font-weight: bold;
            margin-bottom: 10px;
            border-bottom: 2px dotted black;
            padding-bottom: 5px;
            padding: 0 0 5px 6px;
            position: relative;
            &::before{
              content: "Q";
              position: absolute;
              width: 28px;
              height: 28px;
              line-height: 23px;
              font-size: 15px;
              left: 0;
              top: -4px;
              color: #807d7a;
              border-radius: 50%;
              border-style: solid;
              border-width: 2px;
              border-color: #807d7a;
              display: inline-block;
            }
          }
          .qa_text{
            text-align: left;
            font-size: 16px;
            line-height: 29px;
            position: relative;
            padding-left: 36px;
            &::before{
              content: "A";
              position: absolute;
              width: 28px;
              height: 28px;
              line-height: 25px;
              font-size: 15px;
              top: 0px;
              text-align: center;
              left: 1px;
              color: white;
              border-radius: 50%;
              background: #ff2a2a;
              border-style: solid;
              border-width: 2px;
              border-color: #ff2a2a;
              display: inline-block;
            }
          }
          a{
            color: #2f2fbb;
            width: inherit;
            display: inherit;
            margin: 17px 12px 0 auto;
          }
        }
      }
      .school_content_part:nth-child(1){
        padding: 20px 25px 25px 25px;
        opacity: 0;
        transform: translateX(-400px);
        transition: opacity 1s, transform 1s;
        .school_introduction_title{
          margin-bottom: 10px;
        }
        .school_introduction_subtitle{
          margin-bottom: 10px;
        }
      }
      .school_content_part:nth-child(2){
        opacity: 0;
        transform: translateX(400px);
        transition: opacity 1s, transform 1s;
      }
      .school_content_part:nth-child(3){
        opacity: 0;
        transform: translateX(-400px);
        transition: opacity 1s, transform 1s;
      }
      .school_content_part:nth-child(4){
        opacity: 0;
        transform: translateX(400px);
        transition: opacity 1s, transform 1s;
      }
      .fadein-after2:nth-child(1){
        opacity: 1;
        transform: translate(0);
      }
      .fadein-after2:nth-child(2){
        opacity: 1;
        transform: translate(0);
        transition-delay: 100ms;
        transition-property: opacity, transform;
      }
      .fadein-after2:nth-child(3){
        opacity: 1;
        transform: translate(0);
        transition-delay: 200ms;
        transition-property: opacity, transform;
      }
      .fadein-after2:nth-child(4){
        opacity: 1;
        transform: translate(0);
        transition-delay: 300ms;
        transition-property: opacity, transform;
      }
    }
  }
}

@keyframes fall {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: -700px 700px;
  }
}

// 無料体験
.entry{
  margin-bottom: 120px;
  text-align: center;
  h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6px;
  }
  p{
    font-size: 0.889rem;
  }
  .btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    color: white;
    margin-top: 40px;
  }
  
  a.btn-border-shadow {
    padding: calc(1.5rem - 12px) 14rem 1.5rem;
  
    background: #fff;
  }
  
  a.btn-border-shadow:before {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
  
    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  
    border: 3px solid #000;
    border-radius: 0.5rem;
  }
  
  a.btn-border-shadow:hover {
    padding: calc(1.5rem - 6px) 14rem 1rem;
  }
  
  a.btn-border-shadow:hover:before {
    top: 0;
    left: 0;
  }
  
  a.btn-border-shadow--color {
    border-radius: 0;
    background: #ff2a2a;
  }
  
  a.btn-border-shadow--color:before {
    border-radius: 0;
  }
}


// フッター
.footer{
  background: #E8E8E8;
  .footer_wrapper{
    width: 860px;
    margin: 0 auto;
    display: flex;
    padding: 60px 0 10px 0;
    .footer_left{
      display: flex;
      width: 50%;
      .footer_left_left, .footer_left_right{
        width: 50%;
        h1{
          font-weight: bold;
        }
        ul{
          padding-left: 5px;
          margin-top: 10px;
          li{
            margin-bottom: 5px;
          }
        }
      }
    }
    .footer_right{
      display: flex;
      width: 50%;
      .footer_right_left, .footer_right_right{
        width: 50%;
        h1{
          font-weight: bold;
        }
        ul{
          padding-left: 5px;
          margin-top: 10px;
          li{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  p{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 20px;
    font-size: 0.625rem;
  }
}
#scroll_to_top_btn{
  opacity: 0;
  transition: 1s;
  .fa-solid{
    position: fixed;
    right: 7px;
    bottom: 10px;
    font-size: 51px;
    color: #ff2a2a;
    &:hover{
      opacity: 0.8;
    }
  }
}